{% extends "content_template.html" %}

{% block body %}

<p>These are my favorite books, I hope you enjoy them ASSHAT.</p>
<div class="items style1 medium onscroll-fade-in">
    <section>
        <span><img src="images/marc_aurel.jpg" width="42" height="42" style="border-radius: 50%"></span>
        <h3>The Bookthief</h3>
        <p>Its a good one, as its about death himself and I love death.</p>
    </section>
    <section>
        <span class="icon solid style2 major fa-save"></span>
        <h3>Meditations</h3>
        <p>Here, my bro Markus talks about chilling the fuck out.</p>
    </section>
    <section>
        <span class="icon solid style2 major fa-chart-bar"></span>
        <h3>The Myth of Sisyphus</h3>
        <p>I like this book cause its the only thing that gives me hope in my darkest days.</p>
    </section>
    <section>
        <span class="icon solid style2 major fa-wifi"></span>
        <h3>A Brief History of time</h3>
        <p>Stephen Hawking seems like a smart guy so I read this.</p>
    </section>
</div>

{% endblock %}