{% extends "content_template.html" %}

{% block body %}
<!-- Wrapper -->
<div id="wrapper" class="divided">
    <!-- Six -->
    <section class="wrapper style1 align-center">
        <div class="inner">
            <h1>Curriculum Vitae</h1>
            <p>I did cool stuff yo.</p>
            <div class="index align-left">
                <section>
                    <header>Abitur</header>
                    <div class="content">I did it at the best gymnasium in this world, the hegau</div>
                </section>
                <section>
                    <header>Studium</header>
                    <div class="content">I did a BLaw at first but then found philo better.</div>
                </section>
                <section>
                    <header>Auszeichnungen</header>
                    <div class="content">I won the award for best chess player.</div>
                </section>
            </div>
    </section>
</div>

{% endblock %}