{% extends "content_template.html" %}

{% block body %}

<!-- Wrapper -->
<div id="wrapper" class="divided">
    <!-- Six -->
    <section class="wrapper style1 align-center">
        <div class="inner">
            <h2>Intro</h2>
            <!-- <p>I did cool stuff yo.</p> -->
            <div class="index align-center">
                <section>
                    <div class="content">
                        <p>Hey. There should be some really meaningful stuff here. I want to tell YOU
                            that I am LEVIN GÜVER. These sections wrap around on every possible screen size! this is
                            verrrrryyyyy nice.</p>
                        <p>PLEASE CONTACTJE ME UNDER THIS FAKE EMAIL: MRNICE@NICE.NICE</p>
                    </div>
                </section>
    </section>
</div>

{% endblock %}