<p style="margin-bottom: 0.5rem">&nbsp</p>
 
<!-- Navbar -->
<nav class="navbar navbar-expand navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mx-auto order-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!-- <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
                <a class="nav-link {{ intro_active }}" href="intro.html">Intro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ work_active }}" href="work.html">Work<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ cv_active }}" href="curriculum_vitae.html">CV</a>
            </li>
            <li class="nav-item {{ books_active }} ">
                <!-- <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
                <a class="nav-link" href="books.html">Books</a>
            </li>
        </ul>
    </div>
</nav>
