<p style="margin-bottom: 0.5rem">&nbsp</p>
 
<!-- Navbar -->
<nav class="navbar navbar-expand navbar-light bg-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="mx-auto order-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <!-- <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
                <a class="nav-link {{ about_active }}" href="about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ research_active }}" href="research.html">Resarch<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{ personal_active }} ">
                <a class="nav-link" href="personal.html">Personal</a>
            </li>
        </ul>
    </div>
</nav>
